--
-- PostgreSQL database dump
--

-- Dumped from database version 16.1
-- Dumped by pg_dump version 16.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: Buyers; Type: TABLE DATA; Schema: public; Owner: postgres
--

SET SESSION AUTHORIZATION DEFAULT;

ALTER TABLE public."Buyers" DISABLE TRIGGER ALL;

COPY public."Buyers" (id, name, type, "contactPerson", email, phone, address, "createdAt", "updatedAt") FROM stdin;
2	Rwanda Agnecy Board	TV Channel	Umutoni Gaella	ishimweaugstin12@gmail.com	+25078923020399	Kigali	2026-05-22 08:37:11.412-07	2026-05-22 08:37:11.412-07
\.


ALTER TABLE public."Buyers" ENABLE TRIGGER ALL;

--
-- Data for Name: ProductionCategories; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ProductionCategories" DISABLE TRIGGER ALL;

COPY public."ProductionCategories" (id, name, description, "createdAt", "updatedAt") FROM stdin;
1	Movie	Film productions	2026-05-08 04:55:32.31-07	2026-05-08 04:55:32.31-07
2	Theatre	Stage plays and drama	2026-05-08 04:55:32.31-07	2026-05-08 04:55:32.31-07
3	Radio Drama	Audio productions	2026-05-08 04:55:32.31-07	2026-05-08 04:55:32.31-07
4	Journal/Paper	Academic or creative writing	2026-05-08 04:55:32.31-07	2026-05-08 04:55:32.31-07
5	Script	Stand-alone scripts	2026-05-08 04:55:32.31-07	2026-05-08 04:55:32.31-07
\.


ALTER TABLE public."ProductionCategories" ENABLE TRIGGER ALL;

--
-- Data for Name: Roles; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Roles" DISABLE TRIGGER ALL;



ALTER TABLE public."Roles" ENABLE TRIGGER ALL;

--
-- Data for Name: Users; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Users" DISABLE TRIGGER ALL;



ALTER TABLE public."Users" ENABLE TRIGGER ALL;

--
-- Data for Name: Productions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Productions" DISABLE TRIGGER ALL;



ALTER TABLE public."Productions" ENABLE TRIGGER ALL;

--
-- Data for Name: Events; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Events" DISABLE TRIGGER ALL;



ALTER TABLE public."Events" ENABLE TRIGGER ALL;

--
-- Data for Name: Attendances; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Attendances" DISABLE TRIGGER ALL;



ALTER TABLE public."Attendances" ENABLE TRIGGER ALL;

--
-- Data for Name: BuyerRequests; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."BuyerRequests" DISABLE TRIGGER ALL;

COPY public."BuyerRequests" (id, name, type, "contactPerson", email, phone, address, message, status, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public."BuyerRequests" ENABLE TRIGGER ALL;

--
-- Data for Name: Contracts; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Contracts" DISABLE TRIGGER ALL;

COPY public."Contracts" (id, "contractNumber", terms, "expiryDate", "buyerId", "productionId", "filePath", status, "createdAt", "updatedAt") FROM stdin;
1	CT-1779470939587	Standard distribution agreement for 1.	2027-05-21 17:00:00-07	2	1	\N	Active	2026-05-22 10:28:59.587-07	2026-05-22 10:28:59.587-07
2	CT-1779901383174	Standard distribution agreement for 2.	2027-05-26 17:00:00-07	2	2	\N	Active	2026-05-27 10:03:03.179-07	2026-05-27 10:03:03.179-07
\.


ALTER TABLE public."Contracts" ENABLE TRIGGER ALL;

--
-- Data for Name: Expenses; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Expenses" DISABLE TRIGGER ALL;

COPY public."Expenses" (id, amount, category, description, "productionId", date, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public."Expenses" ENABLE TRIGGER ALL;

--
-- Data for Name: MediaFiles; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."MediaFiles" DISABLE TRIGGER ALL;



ALTER TABLE public."MediaFiles" ENABLE TRIGGER ALL;

--
-- Data for Name: MediaInteractions; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."MediaInteractions" DISABLE TRIGGER ALL;

COPY public."MediaInteractions" (id, "userId", "mediaId", type, "createdAt", "updatedAt") FROM stdin;
2	9	11	like	2026-05-22 11:29:08.507-07	2026-05-22 11:29:08.507-07
3	9	9	like	2026-05-27 02:26:34.286-07	2026-05-27 02:26:34.286-07
5	6	6	like	2026-05-27 10:19:44.21-07	2026-05-27 10:19:44.21-07
\.


ALTER TABLE public."MediaInteractions" ENABLE TRIGGER ALL;

--
-- Data for Name: Notifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Notifications" DISABLE TRIGGER ALL;



ALTER TABLE public."Notifications" ENABLE TRIGGER ALL;

--
-- Data for Name: PendingUsers; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."PendingUsers" DISABLE TRIGGER ALL;

COPY public."PendingUsers" (id, "firstName", "lastName", email, password, "roleId", "verifyCode", "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public."PendingUsers" ENABLE TRIGGER ALL;

--
-- Data for Name: Talents; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Talents" DISABLE TRIGGER ALL;

COPY public."Talents" (id, "firstName", "lastName", email, phone, specialty, skills, bio, "profilePic", availability, "portfolioUrl", "socialLinks", "createdAt", "updatedAt", "userId") FROM stdin;
1	Umutoni	Gaella	ishimwepatience102@gmail.com	0783202922	Actor	singing		http://localhost:5000/uploads/file-1778681014133-713830233.jpg	t	\N	\N	2026-05-08 07:01:28.248-07	2026-05-13 08:20:41.819-07	5
2	Umutoni	Keza	pomleo949@gmail.com	0787766431	Actress			http://localhost:5000/uploads/file-1779109221802-74673290.png	t	\N	\N	2026-05-18 06:03:54.124-07	2026-05-18 06:03:54.124-07	\N
\.


ALTER TABLE public."Talents" ENABLE TRIGGER ALL;

--
-- Data for Name: ProductionTalents; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ProductionTalents" DISABLE TRIGGER ALL;

COPY public."ProductionTalents" ("createdAt", "updatedAt", "productionId", "talentId") FROM stdin;
\.


ALTER TABLE public."ProductionTalents" ENABLE TRIGGER ALL;

--
-- Data for Name: Revenues; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Revenues" DISABLE TRIGGER ALL;

COPY public."Revenues" (id, amount, source, "productionId", date, "createdAt", "updatedAt") FROM stdin;
\.


ALTER TABLE public."Revenues" ENABLE TRIGGER ALL;

--
-- Data for Name: Sales; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Sales" DISABLE TRIGGER ALL;



ALTER TABLE public."Sales" ENABLE TRIGGER ALL;

--
-- Data for Name: Scripts; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."Scripts" DISABLE TRIGGER ALL;

COPY public."Scripts" (id, title, version, "filePath", "fileType", status, "productionId", "authorId", "copyrightInfo", "createdAt", "updatedAt") FROM stdin;
1	Jack Black	1.0	http://localhost:5000/uploads/scripts/script-1778683531234-887952747.docx	DOCX	Draft	1	\N	Ishya propert only no one else to see	2026-05-13 07:46:21.018-07	2026-05-13 07:46:21.018-07
\.


ALTER TABLE public."Scripts" ENABLE TRIGGER ALL;

--
-- Data for Name: ScriptAssignments; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."ScriptAssignments" DISABLE TRIGGER ALL;

COPY public."ScriptAssignments" ("createdAt", "updatedAt", "scriptId", "talentId") FROM stdin;
2026-05-13 07:46:21.083-07	2026-05-13 07:46:21.083-07	1	1
\.


ALTER TABLE public."ScriptAssignments" ENABLE TRIGGER ALL;

--
-- Data for Name: SequelizeMeta; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."SequelizeMeta" DISABLE TRIGGER ALL;

COPY public."SequelizeMeta" (name) FROM stdin;
20260508115812-add-email-verification-to-users.js
20260515112500-create-user-preferences.js
\.


ALTER TABLE public."SequelizeMeta" ENABLE TRIGGER ALL;

--
-- Data for Name: SystemSettings; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."SystemSettings" DISABLE TRIGGER ALL;

COPY public."SystemSettings" (id, key, value, "createdAt", "updatedAt") FROM stdin;
1	public_monthly_subscription_price	3000.00	2026-05-27 02:49:23.332-07	2026-05-27 11:46:40.494-07
\.


ALTER TABLE public."SystemSettings" ENABLE TRIGGER ALL;

--
-- Data for Name: UserPreferences; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."UserPreferences" DISABLE TRIGGER ALL;



ALTER TABLE public."UserPreferences" ENABLE TRIGGER ALL;

--
-- Data for Name: WatchProgresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

ALTER TABLE public."WatchProgresses" DISABLE TRIGGER ALL;



ALTER TABLE public."WatchProgresses" ENABLE TRIGGER ALL;

--
-- Name: Attendances_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Attendances_id_seq"', 13, true);


--
-- Name: BuyerRequests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."BuyerRequests_id_seq"', 1, false);


--
-- Name: Buyers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Buyers_id_seq"', 2, true);


--
-- Name: Contracts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Contracts_id_seq"', 2, true);


--
-- Name: Events_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Events_id_seq"', 3, true);


--
-- Name: Expenses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Expenses_id_seq"', 1, false);


--
-- Name: MediaFiles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MediaFiles_id_seq"', 12, true);


--
-- Name: MediaInteractions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."MediaInteractions_id_seq"', 5, true);


--
-- Name: Notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Notifications_id_seq"', 12, true);


--
-- Name: PendingUsers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."PendingUsers_id_seq"', 7, true);


--
-- Name: ProductionCategories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."ProductionCategories_id_seq"', 5, true);


--
-- Name: Productions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Productions_id_seq"', 3, true);


--
-- Name: Revenues_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Revenues_id_seq"', 1, false);


--
-- Name: Roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Roles_id_seq"', 8, true);


--
-- Name: Sales_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Sales_id_seq"', 8, true);


--
-- Name: Scripts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Scripts_id_seq"', 1, true);


--
-- Name: SystemSettings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."SystemSettings_id_seq"', 1, true);


--
-- Name: Talents_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Talents_id_seq"', 2, true);


--
-- Name: UserPreferences_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."UserPreferences_id_seq"', 217, true);


--
-- Name: Users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."Users_id_seq"', 12, true);


--
-- Name: WatchProgresses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public."WatchProgresses_id_seq"', 10, true);


--
-- PostgreSQL database dump complete
--

